# ============================
# Python 불필요 파일
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.env
*.venv/
*.mypy_cache/
*.pytest_cache/

# ============================
# Node 불필요 파일
# ============================
node_modules/
dist/
build/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
generateAiTitletest.ipynb

# ============================
# OS/IDE 관련 파일
# ============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ============================
# Git 관련 파일
# ============================
.git/
.gitignore

# ============================
# 레일웨이
